* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #b39ddb;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.clock-frame {
    width: 350px;
    height: 350px;
    background: url("clock.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    border: 16px solid #aa00ff;
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.2),
                15px 15px 20px rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-frame::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: brown;
    position: absolute;
    border-radius: 50%;
    z-index: 100;
}
.hour-hand {
    width: 7px;
    height: 7px;
    position: absolute;
}
.hour-hand::before {
    content: "";
    width: 7px;
    height: 70px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    box-shadow: -3px 3px 5px rgba(0,0,0,0.2);
}
.minute-hand {
    width: 3px;
    height: 3px;
    position: absolute;
}
.minute-hand::before {
    content: "";
    width: 3px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    box-shadow: -3px 3px 5px rgba(0,0,0,0.2);
}
.second-hand {
    width: 3px;
    height: 3px;
    position: absolute;
}
.second-hand::before {
    content: "";
    width: 3px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    box-shadow: -3px 3px 5px rgba(0,0,0,0.2);
}
p {
    border-bottom: 1px dashed #263238;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #263238;
}